<div class="flex flex-col gap-4">

  <div class="rounded-lg border border-red-500 bg-red-50 p-6 shadow-sm">
    <div class="mb-4 flex items-center justify-between gap-4">
      <span
        class="me-2 rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300">
        CATEGORIA </span>

      <div class="flex items-center justify-end gap-1">
        <div class="stat-title text-red-500 font-extrabold">CRITICO</div>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block h-8 w-8 stroke-current">
          <path class="text-red-500" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
      </div>
    </div>
    <span class="text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white">
      Apple iMac 27", 1TB HDD, Retina 5K Display, M3 Max</span>
    <ul class="mt-2 flex items-center gap-4">
      <li class="flex items-center gap-2">
        <span>En stock:</span>
        <p class="text-sm font-medium text-gray-500 ">50</p>
      </li>
      <li class="flex items-center gap-2">
        <span>Stock minimo:</span>
        <p class="text-sm font-medium text-gray-500">50</p>
      </li>
      <li class="flex items-center gap-2">
        <span>Precio unitario</span>
        <p class="text-sm font-medium text-gray-500 ">$12.5</p>
      </li>
    </ul>
  </div>

  <div class="rounded-lg border border-yellow-500 bg-yellow-50 p-6 shadow-sm">
    <div class="pt-6">
      <div class="flex items-center justify-between gap-4">
        <span
          class="me-2 rounded bg-primary-100 px-2.5 py-0.5 text-xs font-medium text-primary-800 dark:bg-primary-900 dark:text-primary-300">
          CATEGORIA </span>

        <div class="flex items-center justify-end gap-1">
          <div class="stat-title text-yellow-500 font-extrabold">CRITICO</div>

          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            class="inline-block h-8 w-8 stroke-current">
            <path class="text-yellow-500" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
        </div>
      </div>
      <span class="text-lg font-semibold leading-tight text-gray-900 hover:underline dark:text-white">
        Apple iMac 27", 1TB HDD, Retina 5K Display, M3 Max</span>
      <ul class="mt-2 flex items-center gap-4">
        <li class="flex items-center gap-2">
          <span>En stock:</span>
          <p class="text-sm font-medium text-gray-500 ">50</p>
        </li>
        <li class="flex items-center gap-2">
          <span>Stock minimo:</span>
          <p class="text-sm font-medium text-gray-500 ">50</p>
        </li>
        <li class="flex items-center gap-2">
          <span>Precio unitario</span>
          <p class="text-sm font-medium text-gray-500 ">$12.5</p>
        </li>
      </ul>
    </div>
  </div>

</div>
