  <div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">

    <!-- CARD: Total productos -->
    <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
      <div class="flex items-center justify-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">45,385</span>
          <h3 class="text-base font-normal text-gray-500">Total productos</h3>
        </div>
      </div>
    </div>

    <!-- CARD: Valor inventario -->
    <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
      <div class="flex items-center justify-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-green-500 text-base font-bold">$45,385.89</span>
          <h3 class="text-base font-normal text-gray-500">Valor inventario</h3>
        </div>
      </div>
    </div>
  </div>

  <h3>Alertas</h3>
  <!-- Alertas -->
  <div class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    <!-- CARD: Total Alertas -->
    <div class="bg-white border border-gray-900 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
      <div class="flex items-center justify-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-gray-900">40</span>
          <h3 class="text-base font-normal text-gray-500">Total alertas</h3>
        </div>
      </div>
    </div>
    <!-- CARD: ALertas Bajas -->
    <div class="bg-white border border-yellow-500 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
      <div class="flex items-center justify-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-yellow-500">30</span>
          <h3 class="text-base font-normal text-yellow-500">Bajo</h3>
        </div>
      </div>
    </div>
    <!-- CARD: Alertas Criticas -->
    <div class="bg-white border border-red-500 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
      <div class="flex items-center justify-center">
        <div class="flex-shrink-0">
          <span class="text-2xl sm:text-3xl leading-none font-bold text-red-500">10</span>
          <h3 class="text-base font-normal text-red-500">Crítico </h3>
        </div>
      </div>
    </div>
  </div>
