<!-- Selector de categorias -->

@defer (when productsPage())
{
<div>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">Filtar por categoria</span>
    </div>
    <select class="select select-bordered" [value]="selectedCategory()" (change)="onCategoryChange($event)">

      @for (cat of categorias; track cat) {
      <option [value]="cat">{{ cat }}</option>
      }
    </select>
  </label>

  <div class="border mt-5">
    <table mat-table [dataSource]="dataSource">

      <!-- Definición de Columnas -->
      <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef> SKU </th>
        <td mat-cell *matCellDef="let elemento"> {{elemento.sku}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let elemento"> {{elemento.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let elemento"> {{elemento.category}} </td>
      </ng-container>

      <ng-container matColumnDef="currentStock">
        <th mat-header-cell *matHeaderCellDef> Stock Actual </th>
        <td mat-cell *matCellDef="let elemento"> {{elemento.currentStock}} </td>
      </ng-container>

      <ng-container matColumnDef="minStock">
        <th mat-header-cell *matHeaderCellDef> Stock Minimo </th>
        <td mat-cell *matCellDef="let elemento"> {{elemento.minStock}} </td>
      </ng-container>

      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
        <td mat-cell *matCellDef="let elemento"> {{elemento.unitPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="stockAlert">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let elemento">

          <div class="text-white text-center px-2 rounded" [ngClass]="{
            'bg-emerald-500': elemento.stockAlert === 'OK',
            'bg-red-500': elemento.stockAlert === 'CRITICO',
            'bg-yellow-400': elemento.stockAlert === 'BAJO'
          }">

            <span>{{elemento.stockAlert}}</span>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>

    <mat-paginator (page)="onTablePageChange($event)" [pageSizeOptions]="[1,5, 10, 20]" showFirstLastButtons
      [length]="productsPage()?.totalElements || 0" [pageSize]="productsPage()?.size || 10"
      [pageIndex]="productsPage()?.page || 0"></mat-paginator>
  </div>
</div>
}

@loading (after 100ms; minimum 1.5s) { <app-loader /> }
@placeholder { <app-skeleton />}
@error { <app-errorview /> }
